body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.hold{
    width: 100%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 1rem 0.5rem;
}
.hold:nth-child(even) {
    background-color: #e9e9e96b;
  }
  
.hold h1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #343434;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem; 
}

#btn:hover{
    background-color: #1224c4;
    color: #f3f3f3;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}
.req{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.req .close{
    position: absolute;
    align-items: center;
    right: 1rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}
.req .close:hover{
    color: #000000;
}
#demo{
  text-align: center;
  font-size: 60px;
}
button{
  align-items: center;

}
a {
    text-align: center;
    font-size:medium;
}
.time{
    display:flex;

}
.time div{
    flex-basis:100px;
}
.time p{
    font-size: 20px;
}
.time span{
    font-size: 20px;
}